<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="nl.x-services.plugins.launchmyapp"
        version="1.0">

  <name>Launch my App</name>

  <description>
    Launch your app by using this URL:  launchmyapp://my.package.name/somepath
    You can even pass params like this: launchmyapp://my.package.name/someotherpath?foo=bar
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=2.5.0"/>
  </engines>


  <!-- ios -->
  <platform name="ios">
    <asset src="www/ios/LaunchMyApp.js" target="js/plugins/LaunchMyApp.js"/>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$PACKAGE_NAME</string>
          </array>
        </dict>
      </array>
    </config-file>
  </platform>

  <!-- android -->
  <platform name="android">
    <asset src="www/android/LaunchMyApp.js" target="js/plugins/LaunchMyApp.js"/>

    <config-file target="res/xml/config.xml" parent="plugins">
      <plugin name="LaunchMyApp" value="nl.xservices.plugins.LaunchMyApp"/>
    </config-file>

    <source-file src="src/android/nl/xservices/plugins/LaunchMyApp.java" target-dir="src/nl/xservices/plugins"/>

    <config-file target="AndroidManifest.xml" parent="/*/application/activity">
      <intent-filter>
        <data android:scheme="launchmyapp" android:host="$PACKAGE_NAME" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
    </config-file>
  </platform>

</plugin>